{% extends 'Base.html' %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <h4 style="margin-top: 10px">Código de conducta</h4>
    <p>Todo servicio de DNS debe ser confiable, y el trabajo de esta comunidad es asegurar que todas las personas
    en la red tengan una alternativa confiable y abierta a los servicios de sus nodos. Por tanto el trabajo aquí
    realizado es un trabajo serio y ha de realizarse con los máximos principios éticos en mente.</p>
    <p>Al agregar o eliminar registros debe estar seguro de la veracidad de esas direcciones y de que los propietarios
    de dicho servicio están de acuerdo con ser referenciados. No se tolerará bajo ningún concepto la referencias falsas
    o la eliminación de registros verdaderos. Por favor, evite ser sancionado.</p>
    </div>

    <div class="col-md-3"></div>

{% endblock %}